body {
  background-color: white;
  font-family: Arial;
  width: 100%;
}

section {
  padding: 24px;
}

h1 {
  font-weight: bold;
}

.masthead {
  background: lightgray;
  padding-left: 24px;
}

.header {
  background: #f06d06;
  padding: 24px;
  text-align: center;
  color: white;
}

.card {
  width: 300px;
}

footer {
  border-top: 1px solid black;
  background: lightgray;
  padding-left: 24px;
}